@import "common/common";

.app {
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.full-w-h{
  height: 100%;
  width: 100%;
}

